.habits-list-page-container {
  align-items: center;
  background-color: #fff9ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}

.habits-list-title {
  align-items: center;
  background-color: #000000de;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 2% 4% 2% 4%;
  text-align: center;
}

.create-new-habit-button {
  align-items: center;
  background-color: white;
  border: 1.2px solid black;
  border-radius: 10px;
  color: black;
  display: flex;
  font-size: 1.3rem;
  height: 4rem;
  justify-content: center;
  width: 16rem;
}

.create-new-habit-button:hover {
  background-color: aqua;
  cursor: pointer;
}

.habits-list-error {
  color: red;
}

.list-type-label {
  font-size: 1.3rem;
}

.list-date {
  color: #fff994;
  font-size: 1.2rem;
}
