.welcome-page-container {
  align-items: center;
  display: flex;
  height: 78vh;
  justify-content: space-around;
}

.account-link {
  color: black;
  text-align: center;
  text-decoration: none;
}

.account-link-wrapper {
  background-color: white;
  border: 1.2px solid black;
  font-size: 1.3rem;
  height: 8rem;
  padding: 0% 2% 0% 2%;
  width: 12rem;
}

.account-link-wrapper:hover {
  cursor: pointer;
  background-color: aqua;
}
