.habit-log-container {
  display: flex;
  flex-direction: column;
  height: 3.6rem;
  padding: 0.5rem;
  width: 1.5rem;
}

.day-of-week-label {
  text-transform: capitalize;
  text-align: center;
}

.today-marker {
  border: 1px solid #fff994;
}

.actual-checkbox {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

/* checkmark styling itself  */
.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.log-checkbox .checkmark:hover {
  background-color: #133fff;
  cursor: pointer;
}
/* Hide check mark when unchecked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.actual-checkbox:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.log-checkbox .checkmark:after {
  left: 6px;
  top: 2.9px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
}
/* Normal unchecked but scheduled */
.log-checkbox .checkmark {
  background: #133fffc2;
  border: 2px solid white;
}
/* Normal checked */
.actual-checkbox:checked + .checkmark {
  background: #133fffc2;
}

.actual-checkbox:checked + .checkmark:hover {
  background: #133fff;
  cursor: pointer;
}
/* Normal + Partner Not Scheduled */
.not-scheduled + .checkmark {
  background: #d3d3d329;
}
/* Partner unchecked */
.partner .checkmark {
  background: #049c0400;
  border: none;
}
/* Partner checked */
.partner .actual-checkbox:checked + .checkmark {
  background: #049c0400;
  border: none;
}
