.notification-modal-container {
  background-color: #000000f0;
  border: 4px solid #133fff;
  border-radius: 20%;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  height: 27rem;
  overflow-y: hidden;
  position: absolute;
  right: 2%;
  width: 23rem;
  z-index: 3;
}

.notification-nav-button-container {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-around;
}

.notification-nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  padding: 0.4rem;
}

.notification-nav-button:hover {
  border: 1px solid #133fff;
  cursor: pointer;
}

.notification-header-title {
  color: white;
  padding-top: 1rem;
  text-align: center;
}

.notification-header-divider {
  width: 1rem;
}

.notification-modal-header-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.invitation-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: scroll;
}

.no-invitation-message {
  color: white;
}

.close-notifications-modal-button {
  color: white;
  font-size: 2rem;
  width: 1rem;
}

.close-notifications-modal-button:hover {
  cursor: pointer;
}

.active-nav-button {
  border: 1px solid #133fff;
}

.counter-sent {
  right: 11%;
}

.counter-received {
  right: 55%;
}

.notification-counter {
  color: white;
  background-color: red;
  position: absolute;
  top: 13.5%;
  border: 1px solid;
  padding: 0rem 0.4rem 0rem 0.4rem;
  border-radius: 15px;
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 4px solid transparent;
  border-left-width: 6px;
  border-radius: 10px;
  background-clip: content-box;
}
