main {
  background-color: #fff9ad;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.greeting-wrapper {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.greeting-message {
  text-transform: capitalize;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .greeting-message {
    font-size: 1.1rem;
  }
}
