main {
  background-color: #fff9ad;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  height: 100vh;
  width: 100vw;
}

.greeting-wrapper {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.greeting-message {
  text-transform: capitalize;
}

@media screen and (max-width: 480px) {
  .greeting-message {
    font-size: 1.1rem;
  }
}
