.account-creation-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.account-creation-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.account-creation-error {
    color: red;
}