.habit-creation-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.habit-creation-box {
  align-items: center;
  background-color: black;
  border: 1px solid black;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 4%;
  width: 20rem;
}

.habit-creation-box > * {
  color: white;
  margin-top: 0.3rem;
}

.habit-creation-input {
  color: black;
  height: 1.5rem;
  width: 10rem;
}

.habit-creation-form-title {
  color: #fff994;
  font-size: 2rem;
}

.habit-creation-error {
  color: red;
}

.date-picker {
  height: 1.5rem;
  width: 10rem;
  z-index: 1;
}

.react-datepicker-wrapper.react-datepicker-wrapper {
  width: auto;
}

.submit-habit-creation {
  background-color: #fff994;
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
  height: 3.5rem;
  margin-top: 1.5rem;
  width: 8rem;
}

.submit-habit-creation:hover {
  background-color: aqua;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .habit-creation-box {
    height: 33rem;
    width: 17rem;
  }
}
