.habit-creation-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.habit-creation-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date-picker {
    z-index: 1;
}