.close-invite-modal-button {
  cursor: pointer;
}

.invitation-modal-container {
  align-items: center;
  background-color: #000000f0;
  border: 4px solid #133fff;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  height: 34rem;
  justify-content: center;
  left: 23%;
  position: absolute;
  width: 57rem;
  top: 29%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
