.invitation-modal-container {
  background-color: #000000f0;
  border: 4px solid #133fff;
  border-radius: 55px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 34rem;
  left: 23%;
  position: absolute;
  width: 37rem;
  top: 29%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.invitation-modal-header-title {
  grid-column: 5 / span 4;
  grid-row: 2;
  text-align: center;
}

.invitation-habit-info-container {
  grid-column: 5 / span 4;
  grid-row: 4;
  text-align: center;
}

.close-invite-modal-button {
  cursor: pointer;
  font-size: 2.7rem;
  grid-column: 11;
  text-align: center;
}

.go-back-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2.3rem;
  grid-column: 2;
  grid-row: 1;
}

.step1-button {
  background-color: #133fff;
  border: solid 1px black;
  border-radius: 15px;
  color: white;
  font-size: 1.1rem;
}

.step1-button:hover {
  background-color: #133eff96;
  cursor: pointer;
}

.find-email-button {
  grid-column: 3 / span 3;
  grid-row: 9 / span 2;
}

.no-account-button {
  grid-column: 8 / span 3;
  grid-row: 9 / span 2;
}

.invite-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 5 / span 4;
  grid-row: 6 / span 5;
  justify-content: space-between;
  text-align: center;
}

.invite-form-button-container {
  display: flex;
}

.invite-form-button {
  background-color: #fff994;
  border-radius: 10px;
  color: black;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 5rem;
}

.invite-form-button:hover {
  background-color: #fffa94a9;
  cursor: pointer;
}

.invite-submit {
  background-color: #fff994;
  border-radius: 10px;
  color: black;
  height: 2.3rem;
  margin-top: 1.5rem;
  width: 7.2rem;
}

.unregistered-user-submit:hover {
  background-color: #fffa94a9;
  cursor: pointer;
}
