.habit-plan-container {
  position: relative;
}

.habit-plan-date-range {
  font-size: 1.5rem;
}

.habit-plan-delete-button {
  font-size: 2.7rem;
}

.habit-plan-delete-button:hover {
  color: red;
  cursor: pointer;
}

.habit-plan-delete-button-mobile {
  display: none;
}

.habit-plan-divider {
  border-bottom: 1px solid white;
  margin-top: 1rem;
}

.habit-log-header {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.invite-button-container {
  display: flex;
  justify-content: flex-end;
}

.invite-button {
  background-color: #133fff;
  border: 1.3px solid;
  border-radius: 12px;
  color: white;
  font-size: 1.1rem;
  padding: 0.5% 2.5% 0.5% 2.5%;
}

.invite-button:hover {
  background-color: rgba(255, 255, 255, 0.763);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .habit-description {
    padding-right: 0%;
    text-align: center;
  }

  .habit-delete-button {
    display: none;
  }

  .habit-delete-button-mobile {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 1.5rem;
    width: 4rem;
  }
}
