.habit-container-all {
  background-color: #000000de;
  border: 4px solid #133fff;
  border-radius: 55px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 21rem;
  width: 89%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

.habit-container-today {
  align-items: center;
  background-color: #000000de;
  border: 4px solid #133fff;
  border-radius: 20px;
  color: white;
  display: flex;
  height: 11rem;
  width: 50%;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}

.habit-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
  word-break: break-word;
}

.habit-plan-container {
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
}

.habit-name {
  background-color: #00000000;
  border-radius: 18px;
  border: 2px solid white;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-right: 1rem;
  padding: 0.8rem;
  text-align: center;
}

.habit-description {
  padding-right: 7%;
  margin-top: 1rem;
  text-transform: capitalize;
}

.habit-plan-date-range {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

.habit-logs-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.habit-log-header-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .habit-container-today {
    display: block;
    height: 13rem;
    width: 70%;
  }

  .habit-container-all {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    height: 18rem;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .habit-description {
    padding-right: 0%;
    text-align: center;
  }
}
