.message-container {
  animation: fadeIn 2s; 
  background-color: black;
  border-radius: 13px;
  padding: .5rem;
  position: absolute;
  height: 3rem;
  width: 8rem;
  text-align: center;
}

.message-text {
  color: white;
}

@keyframes fadeIn {
  0% {
    transform: translate(-450px, 50px);
    opacity: 0.25;
  }
  100% {
    transform: translate(-450px, 0px);
    opacity: 1;
  }
}