.message-container {
  animation: fadeIn 1.3s; 
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 13px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: .5rem;
  position: absolute;
  height: 5rem;
  width: 10rem;
  text-align: center;
}

.message-text {
  color: white;
}

@keyframes fadeIn {
  0% {
    transform: translate(300px, 95px);
    opacity: 0.25;
  }
  60% {
    transform: translate(80px, 95px);
    opacity: 1;
  }
  100% {
    transform: translate(80px, 95px);
    opacity: 1;
  }
}