.message-text {
  animation: fadeIn 2s; 
  position: absolute;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    transform: translate(-450px, -50px);
    opacity: 0.25;
  }
  100% {
    transform: translate(-450px, 0px);
    opacity: 1;
  }
}